@use "../../app/scss/variables" as variables;


.register-page {
    display: flex;
    align-items: center;
    justify-content: center;

    &-modal {
        max-width: 350px;
        width: 100%;
    }
}
