@use "../../scss/variables" as variables;

.input {
    &-label {
        display: flex;
        flex-direction: column;
    }

    &-label-text {
        font-size: 12px;
        font-weight: 300;
        display: flex;
        margin-bottom: 5px;
        color: variables.$fontprimary;
    }

    &-input {
        border: none;
        border-radius: 8px;
        padding: 8px 10px;
        background-color: variables.$sidebar;
        color: variables.$fontprimary;

        @media (max-width: 768px) {
            padding: 8px 16px;
        }

        &:not(textarea) {
            height: 35px;
        }
    }

    &-asteriks {
        color: variables.$primary;
        margin-left: 2px;
    }

    &-error {
        color: variables.$primary;
        font-size: 14px;
        margin-top: 5px;
    }

    textarea {
        resize: none;
    }
}
