@use "../../scss/variables" as variables;

.input {
    &-label {
        display: flex;
        flex-direction: column;
    }

    &-label-text {
        font-size: 20px;
        display: flex;
    }

    &-input {
        border: 1px solid variables.$border;
        border-radius: 8px;
        padding: 16px 20px;
        margin-top: 5px;

        @media (max-width: 768px) {
            padding: 8px 16px;
        }
    }

    &-asteriks {
        color: variables.$primary;
    }

    &-error {
        color: variables.$primary;
        font-size: 14px;
        margin-top: 5px;
    }
}
