$primary: rgba(237,98,31);
$sidebar: rgb(29,32,34);
$dark: rgb(24,26,30);
$font: #000000;
$border: #cfcfcf;

$fontprimary: rgb(240, 255, 247);
$fontsecondary: rgb(84, 84, 84);

body {
    color: $font;
    background-color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto";
    color: $fontprimary;
}
