@use "./reset";
@use "./fonts";
@use "./variables" as variables;

.row {
    display: flex;
    flex-wrap: wrap;
}

h1, .h1 {
    font-size: 60px;

    @media (max-width: 1441px) {
        font-size: 52px;
    }

    @media (max-width: 1200px) {
        font-size: 46px;
    }

    @media (max-width: 991px) {
        font-size: 40px;
    }

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

h3, .h3 {
    font-size: 36px;

    @media (max-width: 1441px) {
        font-size: 30px;
    }

    @media (max-width: 1200px) {
        font-size: 26px;
    }

    @media (max-width: 991px) {
        font-size: 22px;
    }

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.btn {
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    border: none;
    -webkit-appearance: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    &-primary {
        color: white;
        background-color: variables.$primary;
    }
}
