@use "./reset";
@use "./fonts";
@use "./variables" as variables;

.row {
    display: flex;
    flex-wrap: wrap;
}

h1, .h1 {
    font-size: 60px;

    @media (max-width: 1441px) {
        font-size: 52px;
    }

    @media (max-width: 1200px) {
        font-size: 46px;
    }

    @media (max-width: 991px) {
        font-size: 40px;
    }

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

h3, .h3 {
    font-size: 30px;

    @media (max-width: 1441px) {
        font-size: 24px;
    }

    @media (max-width: 1200px) {
        font-size: 20px;
    }

    @media (max-width: 991px) {
        font-size: 18px;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.btn {
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    border: none;
    -webkit-appearance: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .4s all;
    border: 1px solid transparent;
    width: fit-content;
    background-color: transparent;
    color: white;

    &-primary {
        color: white;
        background-color: variables.$primary;

        &:hover {
            background-color: lighten(variables.$primary, 5%);
        }
    }

    &-white {
        color: black;
        background-color: white;

        &:hover {
            border-color: white;
            background-color: transparent;
            color: white;
        }
    }
}
