.login-page {
    &-row {
        min-height: 100vh;
    }

    &-form-column {
        flex: 1 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px;

        @media (max-width: 1200px) {
            padding: 40px;

            flex: 1 0 50%;
        }

        @media (max-width: 768) {
            flex: 1 0 100%;
        }

        h1 {
            margin-bottom: 20px;

            @media (max-width: 991px) {
                margin-bottom: 10px;
            }
        }

        h3 {
            margin-bottom: 40px;

            @media (max-width: 991px) {
                margin-bottom: 20px;
            }
        }
    }

    &-register-column {
        flex: 1 0 60%;
        background: radial-gradient(circle, #EB4511 14%, #A72800 100%);

        @media (max-width: 1200px) {
            flex: 1 0 50%;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}
