@use "../../scss/variables" as variables;

.select {
    display: flex;
    flex-direction: column;

    &__label {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 2px;
    }

    &__select {
        font-size: 12px;
        font-weight: 300;
        display: flex;
        -webkit-appearance: none;
        padding: 8px 10px;
        height: 35px;

        border: 1px solid variables.$border;
        border-radius: 8px;
    }
}
