@use "../../app/scss/variables" as variables;

.task {
    &-name {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    &-meta {
        font-size: .8rem;
        color: variables.$fontsecondary;
    }

    &-editable-row {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        border-bottom: 1px dashed variables.$fontprimary;

        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    &-description-header {
        font-weight: 500;
        margin-bottom: 10px;
    }

    &-edit {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}
