@use "../../scss/variables" as variables;

.task-item {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: variables.$fontprimary;
    background-color: variables.$sidebar;
    padding: 10px;
    border-radius: 4px;

    &:nth-child(even) {
        background-color: variables.$dark;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        font-size: .8rem;

        & > div:nth-child(5) {
            display: none;
        }

        & > div:nth-child(6) {
            display: none;
        }
    }
}
