@use "../../scss/variables" as variables;

.aside {
    background-color: variables.$sidebar;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    max-width: 70px;
    transition: .4s linear all;

    justify-content: space-between;

    @media (max-width: 991px) {
        display: flex;
        width: 100%;
        max-width: none !important;
        flex-direction: row;
    }

    &-footer {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        z-index: 10;
    }

    &-footer-toggle {
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
            fill: white;
        }

        @media (min-width: 992px) {
            display: none;
        }
    }

    &-footer .btn {
        padding: 8px;
        margin: 0 auto;
    }

    &-logo {
        max-width: 100%;

        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }

        @media (max-width: 991px) {
            max-width: 140px;
        }
    }

    &-menu {
        overflow: hidden;

        @media (max-width: 991px) {
            position: fixed;
            height: 100vh;
            background-color: variables.$sidebar;
            right: -500px;
            padding: 20px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            transition: .15s linear all;

            &-active {
                right: 0;
            }
        }
    }

    &-menu-item {
        margin-bottom: 10px;
        opacity: 0.6;
        transition: .1s linear all;
        display: flex;
        align-items: center;

        &:hover {
            opacity: 1;
        }
    }

    &-menu-item-active {
        opacity: 1;
    }

    &-menu-item a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &-menu-item-icon {
        font-size: 12px;
        margin-right: 10px;
    }

    &-menu-item-text {
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
    }

    &-full {
        max-width: 140px;
    }
}

.main {
    min-height: 100vh;

    @media (min-width: 992px) {
        max-height: 100vh;
        overflow-y: auto;
    }
}
